@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.azzan{
 
    font-weight: 400;
}
.navbar-10{
    display: flex;
    align-items: center;
   margin-top: 14px;
   margin-left: 60px;
   border-bottom: 1px solid rgb(134, 134, 134);
   width: 890px;
}
.anchor{
    margin-left: 130px;
   align-items: center;
   justify-content: center; 
   font-family: "Poppins";
 
}

a{
    text-decoration: none;
    color: black;
    justify-content: space-between;
    padding-left: 30px;
}
.doc{
    margin-left: 140px;
    font-family: "Poppins";
    
}
.box{
    
    margin-top: 40px;
    margin-left: 60px;
    font-family: "Poppins";

    font-size: 20px;
}
.table{
    letter-spacing: 1px;
    font-family: "poppins";
    font-size: 28px;
}
.banana{
    display: flex;
    font-size: 12px;
    margin-top: 17px;
    align-items: center;
}
.container{
    display: flex;
}
.lorem{
    font-size: 14px;
    margin-top: 20px;
}
.btn-1{
    border-radius: 14px;
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    width: 90px;
    height: 24px;
    margin-top: 20px;
}
.margin{
    width: 230px;
    height: 300px;
    display: flex;
    margin-top: 60px;
    border-radius: 30px;
    margin-left: 24px;
}

.mango{
    display: flex;
 
}
.rooto{
    width: 240px;
    height: 110px;
    border-radius: 19px;
   margin-top: 10px;
   margin-left: 60px;
}
.global{
    width: 240px;
    height: 100px;
    border-radius: 19px;
    margin-top: 49px;
    margin-left: 60px;
}
.youtube{
    font-size: 17px;
}
.banana{
    display: flex;
    border-bottom: 1px solid rgb(139, 139, 139);
    width: 200px;
  
}
.youtube{
   margin-left: 60px;
   font-family: "Poppins";  
}
.place{
    font-size: 11px;
    margin-left: 60px;
    font-family: "Poppins";
}
.fan{
    display: flex;
}